#cookiebutton {
    width: 500px;
    height: 500px;
}

p {
    display: inline-block;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(13, 124, 197);
}

input {
    outline-style: none;
    padding: 5px;
}

body {
    background-color: rgb(131, 205, 255);
}

button {
    size: 50px;
}

.row {
    display: flex;
}
  
.column {
    padding: 10px;
}

.left {
    width: 75%;
    text-align: center;
}
  
.right {
    width: 25%;
    background-color: lightgray;
    border: 2px solid  rgb(21, 162, 255);
    border-radius: 5px;
}

#cursorimg {
    width: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

.upgrades {
    border: 2px solid rgb(21, 162, 255);
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.upgrades:enabled {
    cursor:pointer;
}

.shaking {
    animation: shake 0.4s;
     animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }