#cookiebutton {
    width: 500px;
    height: 500px;
}

@keyframes rotation {
    100% {transform: rotate(360deg)}
  }

.rotate {
    animation: rotation 90s infinite;
}

p {
    display: inline-block;
}

.header {
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    border: 2px solid  rgb(21, 162, 255);
    border-radius: 5px;
    color: white;
    font-size: 30px;
  }

.subheader {
    font-size: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(13, 124, 197);
}

input {
    outline-style: none;
    padding: 5px;
}

body {
    background-color: rgb(131, 205, 255);
}

button:focus {
    outline: rgb(21, 162, 255);
}

button {
    size: 50px;
}

.row {
    display: flex;
}
  
.column {
    padding: 10px;
}

.left {
    width: 70%;
    text-align: center;
}
  
.right {
    width: 30%;
    background-color: lightgray;
    border: 2px solid  rgb(21, 162, 255);
    border-radius: 5px;
}

.shopBottom {
    text-align: end;
}

#cursorimg {
    width: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

.upgrades {
    border: 2px solid rgb(21, 162, 255);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    text-align: left;
}

.upgrades:enabled {
    cursor:pointer;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.upgrades:enabled:hover,
.upgrades:enabled:focus,
.upgrades:enabled:active {
    transform: scale(1.025);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shaking {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

.dropbtn {
    background-color: rgb(21, 162, 255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(12, 114, 182);
}
  
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
  
#myInput:focus {outline: 3px solid #ddd;}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

